@font-face {
	font-family: "raleway-black";
	src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
	font-family: "raleway-regular";
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: "raleway-bold";
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: "raleway-medium";
	src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
	font-family: "raleway-semiBold";
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: "poppins-bold";
	src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
	font-family: "poppins-medium";
	src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: "poppins-regular";
	src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: "poppins-semiBold";
	src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: "long-haired";
	src: url(../fonts/Long-Haired-Freaky-People.otf);
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 100px;
	background-color: #fff;
}

.nav .logo img {
	height: 45px;
}

.nav .links ul {
	display: flex;
	list-style: none;
}

.nav .links li a {
	padding: 20px;
	text-decoration: none;
	color: gray;
	font-family: raleway-regular;
	font-size: .9em;
}

.nav .links li a:hover {
	color: #000;
}



/*=======================================cont1=============================================*/



.cont1 {
	background-color: #f8541c;
	display: flex;
	padding: 70px;
	padding-bottom: 170px;
}

.cont1 .primg,
.dtl {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont1 .primg img {
	height: 500px;
}

.cont1 .dtl h1 {
	color: white;
	font-size: 3em;
	font-family: poppins-bold;
}

.cont1 .dtl p {
	color: white;
	font-size: .9em;
	font-family: poppins-regular;
}

.cont1 .dtl a {
	color: #f8541c;
	background-color: white;
	padding: 15px 30px;
	text-decoration: none;
	font-family: poppins-medium;
	border-radius: 5px;
}

.cont1 .dtl a img {
	margin-bottom: 2px;
	margin-left: 20px;
	vertical-align: middle;
	height: 16px;
}


/*=======================================cont2=============================================*/

.cont2 {
	padding: 40px;
	background-color: #fcc802;
	margin: 0 200px;
	margin-top: -100px;
	border-radius: 10px;
}

.cont2 h2 {
	font-family: raleway-bold;
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}

.cont2 .party_img {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cont2 .party_img .imgs {
	width: 20%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px
}

.cont2 .party_img img {
	width: 100%;
	border-radius: 50%;
	border: solid white 8px;
	margin: 20px 0;
}

.cont2 .party_img label {
	font-family: raleway-bold;
	font-size: 1.2em;
}

/*=======================================cont3=============================================*/

.cont3 {
	display: flex;
	margin: 100px 10%;
}

.cont3 .left,
.cont3 .right {
	width: 50%;
	text-align: center;
}

.cont3 h2 {
	margin-left: 6%;
	margin-top: 6%;
	text-align: left;
	font-family: poppins-medium;
}

.cont3 ul {
	text-align: left;
	margin-left: 12%;
	margin-top: 6%;
	font-family: poppins-regular;
	font-size: 1.2em;
}

.cont3 img {
	width: 90%;
	border-radius: 20px;
}

/*==================================cont4============================================*/

.cont4 {
	height: 100vh;
	width: 100%;
	background-color: #63018e;
	text-align: center;
	padding: 80px 0;
	box-sizing: border-box;
}

.cont4 h2 {
	font-family: poppins-bold;
	color: white;
	text-align: center;
	margin-bottom: 40px;
}

.cont4 .left,
.cont4 .right {
	position: relative;
	display: inline-block;
	width: 40%;
	padding: 50px;
	box-sizing: border-box;
	margin: 30px 40px;
	border-radius: 10px;
	overflow: hidden;
	height: 80%;
}


.cont4 .hd {
	display: flex;
	justify-content: space-between;
}

.cont4 .hd h3 {
	color: white;
	font-family: poppins-medium;
}

.cont4 .hd a {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-family: poppins-regular;
	text-decoration: none;
}

.cont4 .pr_img {
	position: absolute;
	bottom: -30%;
	right: -35%;
	transform: rotate(-20deg);
	width: 100%;
}

.cont4 .pr_img img {
	width: 70%;
}

.cont4 .pr_dtls {
	position: absolute;
	z-index: 100;
	margin-right: 20px;
	text-align: left;
	color: white;
	font-family: poppins-regular;
}

/*==========================================cont5==============================================*/

.cont5 {
	background-color: #910075;
	width: 100%;
	float: left;
	padding: 100px;
	box-sizing: border-box;
}

.cont5 h2 {
	color: white;
	font-family: poppins-bold;
	margin-left: 5%;
}

.cont5 .c5_sub {
	width: 45%;
	float: left;
	margin: 3% 0;
	margin-left: 3%;
	padding-top: 50px;
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
	position: relative;
}

.cont5 .c5hd {
	width: 40%;
	padding: 20px 0;
	background-color: #fff;
	border-radius: 0 40px 40px 0;
}

.cont5 .c5hd img {
	padding-left: 30px;
	width: 40%;
}

.cont5 .c5dtl {
	color: #fff;
	padding: 20px 30px;
	width: 45%;
	font-family: poppins-regular;
	position: absolute;
}

.cont5 .c5img img {
	width: 60%;
	margin-left: 40%;
	text-align: right;
}

/*=============================================cont6==============================*/
.cont6 {
	width: 100%;
	padding: 100px;
	background-color: #fcc802;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.cont6 .c6left,
.cont6 .c6right {
	width: 40%;
}

.cont6 .c6left h2 {
	font-family: poppins-bold;
	margin-bottom: 20px;
}

.cont6 .c6left label {
	font-family: poppins-regular;
	margin-bottom: 20px;
}

.cont6 .c6left ul {
	margin-top: 20px;
}

.cont6 .c6left ul li {
	font-family: poppins-regular;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style: square;
}

.cont6 .c6right {
	width: 100%;
	display: flex;
	justify-content: center;
}

.cont6 .c6right .c6vid {
	height: 350px;
	width: 600px;
	border: 10px solid white;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.cont6 .c6right .c6vid:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0px;
	width: 0px;
	margin-left: 15px;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	border-right: transparent 25px solid;
	border-left: rgba(255, 255, 255, 0.9) 25px solid;
}

.cont6 .c6right .c6vid:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90px;
	width: 90px;
	border: solid 5px rgba(255, 255, 255, 0.9);
	border-radius: 50%;
}

.cont6 .c6right .c6vid img {
	width: 100%;
	vertical-align: middle;
}

/*====================================cont7============================================*/

.cont7 {
	background-color: #f8541c;
	padding: 100px;
	box-sizing: border-box;
}

.cont7 h1 {
	color: white;
	font-family: poppins-bold;
	text-align: center;
}

.cont7 .slideshow-container {
	max-width: 100vw;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px;
	user-select: none;
}

.next {
	right: 0;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

.contains {
	text-align: center;
}

.contains span {
	font-family: poppins-bold;
	font-size: 7em;
	color: transparent;
	-webkit-text-stroke: 2px white;
}

.contains p {
	color: white;
	font-family: poppins-regular;
}

/*======================================cont8=====================================*/

.cont8 {
	background-color: #a200c9;
	padding: 100px;
	position: relative;
	overflow: hidden;
}

.cont8 h1 {
	color: white;
	font-family: poppins-bold;
}

.cont8 a {
	color: #a200c9;
	background-color: white;
	padding: 15px 30px;
	text-decoration: none;
	font-family: poppins-medium;
	border-radius: 5px;
}

.cont8 a img {
	margin-bottom: 2px;
	margin-left: 20px;
	vertical-align: middle;
	height: 16px;
}

.cont8 .c8img {
	width: 100%;
	top: 20%;
	left: 50%;
	position: absolute;
}

.cont8 .c8img img {
	width: 30%;
	position: absolute;
}

.cont8 .c8img .img2 {
	margin-left: 150px;
}

/*======================================cont9=====================================*/

.cont9 {
	background-color: #fba61a;
	display: flex;
	justify-content: space-between;
	padding: 100px;
}

.cont9 .c9lleft {
	width: 20%;
}

.cont9 .c9left img {
	height: 45px;
}

.cont9 .c9right {
	width: 80%;
}

.cont9 table {
	color: white;
	font-family: poppins-regular;
	width: 100%;
}

.cont9 table a {
	text-decoration: none;
	color: white;
}

.cont9 table th {
	text-align: left;
	font-family: poppins-bold;
}


/*======================================cont10=====================================*/

.cont10 {
	background-color: #fba61a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 200px;
}

.cont10 label {
	font-family: poppins-regular;
	color: white;
	display: flex;
}

.cont10 label img {
	margin-left: 40px;
	height: 20px;
}


/*===================================banner=========================================*/

.banner h1 {
	font-family: poppins-bold;
	text-align: center;
	margin-top: -50px;
}

.banner img {
	width: 100%;
}

/*=============================================cont11==================================*/

.cont11 {
	padding: 50px;
}

.cont11 h2 {
	margin-left: 150px;
	font-family: poppins-bold;
	border-bottom: 2px solid;
	display: inline-block;
}

.cont11 h3 {
	margin: 30px 200px;
	font-family: poppins-bold;
}


.orderBoard {
	width: 100%;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 20px 100px;
}

.orderBoard .card {
	width: 100%;
	max-width: 300px;
	border-radius: 8px;
}

.orderBoard .card .imgBx {
	position: relative;
	width: 100%;
}

.orderBoard .card .imgBx img {
	width: 100%;
	object-fit: cover;
}

.orderBoard .card:hover .imgBx img {
	animation: pac 0.3s ease infinite;
}

@keyframes pac {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.orderBoard .card .content {
	text-align: center;
}

.orderBoard .card .content .prName h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0;
	font-family: poppins-medium;
}

.orderBoard .card .content .addBtn button {
	font-family: poppins-medium;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	color: #e51937;
}

.orderBoard .card .content .addBtn span {
	display: block;
	width: 0%;
	background-color: red;
	height: 1px;
	transition: 1s;
}


/*===============================================cont12=========================================*/

.cont12 {
	height: 500px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.cont12:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0px;
	width: 0px;
	margin-left: 16px;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-right: transparent 25px solid;
	z-index: 1;
	border-left: rgba(255, 255, 255, 0.9) 30px solid;
}

.cont12:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #fba61a;
}

.cont12 img {
	width: 100%;
}

/*===================================cont13================================================*/
.cont13 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cont13 .c13left,
.cont13 .c13right {
	width: 50%;
	padding: 100px;
}

.cont13 .c13left h1 {
	margin-bottom: 30px;
	font-family: poppins-bold;
}

.cont13 .c13left p {
	font-family: poppins-regular;
	color: #808080;
}

/*===================================cont14================================================*/

.cont14 {
	padding: 50px 150px;
	box-sizing: border-box;
	background-color: #e51937;
	display: flex;
	justify-content: space-between;
}

.cont14 .c14sub h1 {
	font-size: 4em;
	color: #fba61a;
	font-family: poppins-regular;
	text-align: center;
}

.cont14 .c14sub label {
	font-size: 1.2em;
	text-align: center;
	font-family: poppins-regular;
	color: white;
}



/*==========================================cont15==========================================*/
.cont15 {
	background-color: #fba61a;
	padding: 100px;
	width: 100%;
	box-sizing: border-box;
}

.cont15 h1 {
	margin-bottom: 50px;
	text-align: center;
	color: white;
	font-family: poppins-bold;
}

.cont15 .c15b {
	width: 45%;
	display: inline-block;
	margin: 30px;
}

.cont15 .c15b table {
	width: 100%;
}

.cont15 .c15b table img {
	height: 90px;
	border-radius: 50%;
}

.cont15 .c15b table td {
	font-family: poppins-regular;
	font-size: 1em;
	padding: 0px 40px;
	color: white;
}

/*==================================================cont16===========================================*/

.cont16 {
	background-color: #e51937;
	padding: 100px;
	position: relative;
	overflow: hidden;
}

.cont16 h1 {
	color: white;
	font-family: poppins-bold;
}

.cont16 a {
	color: #303030;
	background-color: white;
	padding: 15px 30px;
	text-decoration: none;
	font-family: poppins-medium;
	border-radius: 5px;
	text-align: center;
}

.cont16 .c16img {
	width: 100%;
	top: 20%;
	left: 50%;
	position: absolute;
}

.cont16 .c16img img {
	width: 30%;
	position: absolute;
}

.cont16 .c16img .img2 {
	margin-left: 150px;
}

/*==================================================cont17===========================================*/

.cont17 {
	padding: 100px;
}

.cont17 h1 {
	font-family: poppins-bold;
	text-align: center;
	margin-bottom: 40px;
}

.cont17 .c17body {
	display: flex;
	justify-content: space-between;
}

.cont17 .c17body div {
	padding: 30px;
	width: 50%;
}

.cont17 .c17body div img {
	width: 80%;
}

.cont17 label {
	background-color: #e51937;
	color: white;
	font-family: poppins-medium;
	padding: 5px;
	border-radius: 3px;
}

.cont17 label a {
	text-decoration: none;
	color: white;
}

.cont17 p {
	font-family: poppins-medium;
	margin: 30px 0;
}


/*==================================================cont18===========================================*/

.cont18 {
	display: flex;
	justify-content: space-between;
	padding: 0 60px;
}

.cont18 .c18sub {
	text-align: center;
	background-color: #f8541c;
	margin: 100px 20px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.cont18 .c18sub img {
	height: 25px;
	display: block;
	margin: auto;
}

.cont18 .c18sub label {
	display: block;
	padding: 20px;
	color: white;
	font-family: poppins-bold;
}

/*===============================================cont19===========================================*/

.cont19 {
	display: flex;
	padding: 0 100px;
	padding-bottom: 100px;
}

.cont19 .gglMap {
	margin: 0 50px;
	height: 600px;
	width: 60%;
	border-radius: 10px;
	overflow: hidden;
}

.cont19 .contact_form {
	width: 40%;
	height: 600px;
}

.gglMap iframe {
	filter: saturate(0%) brightness(95%);
	border: none;
	width: 100%;
	height: 100%;
}

.cont19 .contact_form input {
	height: 9%;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}

.cont19 .contact_form textarea {
	height: 61%;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}

.cont19 .contact_form button {
	background-color: #f8541c;
	border: none;
	height: 9%;
	width: 25%;
	border-radius: 10px;
	color: white;
	font-family: poppins-regular;
	font-size: 1em;
	margin: 2% 0;
	outline: none;
	cursor: pointer;
}

/*====================================warning===================================*/

.warning {
	display: none;
	justify-content: center;
	margin: 50px;
}

.warning label {
	height: 50px;
	width: 40%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 10px;
	border: solid 2px #e51937;
	color: #e51937;
	box-sizing: border-box;
	font-family: poppins-regular;
}

/*====================================cont20===================================*/

.cont20 {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.cont20 .contact_form {
	width: 40%;
	height: 250px;
}

.cont20 .contact_form input {
	height: 21%;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}

.cont20 .contact_form button {
	background-color: #f8541c;
	border: none;
	height: 21%;
	width: 25%;
	border-radius: 10px;
	color: white;
	font-family: poppins-regular;
	font-size: 1em;
	margin: 2% 0;
	outline: none;
	cursor: pointer;
}

.cont20 .contact_form a {
	text-decoration: none;
	color: #f8541c;
	font-family: poppins-medium;
}

/*====================================cont20===================================*/

.cont22 {
	display: flex;
	justify-content: center;
	margin: 50px;

}

.cont22 .contact_form {
	width: 40%;
}

.cont22 h2 {
	font-family: poppins-bold;
	margin: 20px 0;
}

.cont22 .contact_form input {
	height: 50px;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}

.cont22 .contact_form select {
	height: 50px;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}

.cont22 .contact_form textarea {
	height: 120px;
	margin: 2% 0;
	width: 100%;
	border-radius: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-family: poppins-regular;
	outline: none;
}


.cont22 .contact_form button {
	background-color: #f8541c;
	border: none;
	height: 50px;
	width: 25%;
	border-radius: 10px;
	color: white;
	font-family: poppins-regular;
	font-size: 1em;
	margin: 2% 0;
	outline: none;
	cursor: pointer;
}


.cont22 a {
	text-decoration: none;
	color: #f8541c;
	font-family: poppins-medium;
}

/*==================================prfl_img==================================*/

.prfl_img {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.prfl_img .prfl_imgBx {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 8px solid transparent;
	position: relative;
	overflow: hidden;
}

.prfl_img .prfl_imgBx:hover {
	border: 8px solid #63018e;
}

.prfl_img img {
	height: 100%;
}

.prfl_img .prfl_imgBx input {
	transform: scale(5);
	position: absolute;
	top: 25%;
	left: 200%;
	opacity: 0;
}

/*====================================warning===================================*/

.warning {
	display: none;
	justify-content: center;
	margin: 50px;
}

.warning label {
	height: 50px;
	width: 40%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 10px;
	border: solid 2px #e51937;
	color: #e51937;
	box-sizing: border-box;
	font-family: poppins-regular;
}

.success {
	display: none;
	justify-content: center;
	margin: 50px;
}

.success label {
	height: 50px;
	width: 40%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 10px;
	border: solid 2px #39bb01;
	color: #39bb01;
	box-sizing: border-box;
	font-family: poppins-regular;
}